.container {
  width: 450px;
  border: 1px solid grey;
  margin: 20px;
}
.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.wrapper > div > img {
  margin: auto;
  margin: 10px;
  width: 100px;
  /* border: 1px solid black; */
}
.brand {
  /* border: 1px solid black; */
  width: 1500px;
  height: 150px;
  margin-left: 0px;
  padding: 10px;
}
.votes {
  padding: 10px;
  /* border: 1px solid black; */
  width: 70%;
}
button {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
  margin-bottom: 10px;
}
